@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lacquer&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body{
background-image:url("./bilder/william-recinos-qtYhAQnIwSE-unsplash.jpg") ;
background-position: -400px -550px;
}

.kontainer{
    font-family: "Delius Swash Caps", cursive;
width: 800px;
margin: auto;
padding: 30px;
color:#52b788;
border: 2px solid #c77dff;
}

.bilder{
    font-family: "Lacquer", system-ui;
    width: 50%;
    border: 5px solid #1e6091;
}
img{
    width: 300px;
    border-radius: 10px;
    border: 5px solid #01497c;
}

p{
color: #48bfe3;
}

h1{
font-family: "Delius Swash Capps", cursive; 
color: #b5e48c;
}

h2{
font-family: "lacquer", system-ui;
color: #d00000;
}

span{
    color: #ffff3f;
}

td{
    padding: 5px;
}

table{
border: 5px solid #1e6091;
font-family: "Lacquer", system-ui;
background-color: #52b788;
color: #48bfe3;
}

.thanks{
    font-family: "Lacquer", system-ui;
}

a{
  color: #e8998d;
}

.kolumner{
display: flex;
gap: 40px;
}

ul{
    font-family: "Delius Swash Caps", cursive;
}
li{
color: #ffd6e0;
}

.honsafotter{
color: #c0fdff;
}

.franskfolkvisa{
color: #0096C7;
}